__pycache__
_*.d.ts
./lab/
.conda-packages/
.vscode/
.yarn-packages/
*.bundle.js
*.db
*.egg-info
*.map.js
**/build
**/dist
**/envs
**/labextension
**/lib
**/mock_packages
**/node_modules
**/schemas
**/static
**/themes
**/typings
atest/
coverage
docs/
node_modules
