__pycache__
src/_d/
_testoutput/
.env
.envs/
.eslintcache
.ipynb_checkpoints/
.pabotsuitenames
*.doit*
*.egg-info/
*.log
*.tsbuildinfo
*.woff2
build/
dist/
lib/
node_modules/
packages/*/lib
Untitled*.ipynb
