__pycache__
_testoutput/
.coverage
.envs/
.eslintcache
.ipynb_checkpoints/
.pnp*
.yarn
.yarn-packages/
*.doit*
*.egg-info/
*.log
*.tsbuildinfo
*.woff2
build/
dist/
lib/
nbjss/static/nbjss.js
node_modules/
packages/*/lib
Untitled*.ipynb
_d/
