.jp-FontsEditor {
  color: var(--jp-ui-font-color0);
  overflow-y: auto;
}

.jp-FontsEditor h2 {
  padding: calc(1.6 * var(--jp-notebook-padding));
  margin: 0;
}

.jp-FontsEditor h2 .jp-NotebookIcon {
  width: var(--jp-ui-font-size2);
  height: calc(var(--jp-ui-font-size2));
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.jp-FontsEditor-field {
  display: flex;
  margin: calc(1.6 * var(--jp-notebook-padding));
  margin-bottom: 0;
  align-items: baseline;
}

.jp-FontsEditor-field .jp-Toolbar-item.jp-Toolbar-button {
  width: auto;
  height: auto;
  font-size: 80%;
  line-height: 1.25;
  padding: 0 0.5em;
}

.jp-FontsEditor-field label {
  white-space: nowrap;
  flex: 0;
  font-size: var(--jp-ui-font-size1);
}

.jp-FontsEditor-field > div {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.jp-FontsEditor-field > div * {
  display: block;
  flex: 1;
  text-align: right;
  font-size: var(--jp-ui-font-size1);
}

.jp-FontsEditor-field select {
  font-weight: bold;
  border: none;
  background: transparent;
  background-image: var(--jp-ui-select-caret);
  background-repeat: no-repeat;
  background-position: 99% center;
  background-size: 18px;
  text-align: right;
  text-align-last: right;
  margin-left: var(--jp-notebook-padding);
  padding-right: calc(2 * var(--jp-notebook-padding));
}

.jp-FontsEditor option {
  text-align: right;
}
